<div class="card">
    <div class="card-header">
        <h3>Login</h3>
    </div>
    <div class="card-body">

        <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="login()">


            <div class="Line">
                <span><i class="fas fa-envelope"></i></span>
                <div>
                    <input class="form-control" type="email" formControlName="email" placeholder="Ingrese su email">
                </div>
            </div>



            <div class="Line">
                <span><i class="fas fa-key"></i></span>
                <div>
                    <input class="form-control" type="password" formControlName="password" placeholder="Ingrese su contraseña">
                </div>
            </div>


            <div class="Login_btn">
                <input type="submit" value="Login" class="btn login_btn">

                <input type="button" value="Crear Cuenta" class="btn login_btn" routerLink="/auth/register">
            </div>
        </form>


    </div>
</div>