<div class="card">
    <div class="card-header">
        <h3>Registro</h3>
    </div>
    <div class="card-body">

        <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="register()">

            <div class="Line">
                <span><i class="fas fa-user"></i></span>
                <div>
                    <input class="form-control" type="text" formControlName="name" placeholder="Ingrese su nombre">
                </div>
            </div>

            <div class="Line">
                <span><i class="fas fa-envelope"></i></span>
                <div>
                    <input class="form-control" type="email" formControlName="email" placeholder="Ingrese su email">
                </div>
            </div>



            <div class="Line">
                <span><i class="fas fa-key"></i></span>
                <div>
                    <input class="form-control" type="password" formControlName="password" placeholder="Ingrese su contraseña">
                </div>
            </div>


            <div class="Login_btn">
                <input type="submit" value="Registrar" class="btn login_btn" [disabled]="miFormulario.invalid"><br/>
                <input type="button" value="Entrar" class="btn login_btn" routerLink="/auth/login">
            </div>
        </form>
    </div>
</div>